.preview {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 18px;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }
  }

  &__track {
    &--slider {
      width: 100%;
    }

    &--time {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 14px;
    }
  }
}
