@if (player.currentSong()) {
  @let song = player.currentSong;

  <div class="preview">
    <img [src]="song().author.image" alt="Preview" class="preview__image" />
    <div class="preview__data">
      <h1 class="preview__data--item">{{ song().title }}</h1>
      <span>{{ song().author.name }}</span>
    </div>

    <div class="preview__track">
      <input type="range" class="preview__track--slider" />
      <div class="preview__track--time">
        <span>0:00</span>
        <span>3:45</span>
      </div>
    </div>
  </div>
}
