<div class="controls">
  <div class="controls__seek">
    <app-range 
      [max]="duration || 0" 
      [value]="currentTime || 0" 
      (onChange)="onSeek($event)" 
      (onInput)="onSeekPreview($event)"/>
  
    <div class="controls__times">
      <span>{{ formatTime(currentTime) }}</span>
      <span>{{ formatTime(duration) }}</span>
    </div>

  </div>

  <div class="controls__items">
    <button class="controls__items--btn" (click)="onPrev()">
      <span class="controls__icon">⏮</span>
    </button>

    <button class="controls__items--btn" (click)="onPlayPause()">
      <span class="controls__icon">
        {{ player.isPlaying() ? '⏸' : '▶' }}
      </span>
    </button>

    <button class="controls__items--btn" (click)="onNext()">
      <span class="controls__icon">⏭</span>
    </button>

  <div class="controls__items--btn">
    <span class="controls__volume-label">🔊</span>
    <app-range 
      [max]="1" 
      [value]="volume()" 
      (onInput)="onVolumeChange($event)"/>
  </div>
  </div>
</div>
