<div class="controls">
  <button class="controls__item">
    <span class="controls__icon">❤︎</span>
  </button>

  <button class="controls__item" (click)="onPrev()">
    <span class="controls__icon">⏮</span>
  </button>

  <button class="controls__item" (click)="onPlayPause()">
    <span class="controls__icon">
      {{ player.isPlaying() ? '⏸' : '▶' }}
    </span>
  </button>

  <button class="controls__item" (click)="onNext()">
    <span class="controls__icon">⏭</span>
  </button>

  <button class="controls__item">
    <span class="controls__icon">⟳</span>
  </button>
</div>
